.wrapper{
    padding:1rem;
    border: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.editor{
    min-height: 250px;
    padding: 1rem;

}
.toolbar{
    border: 1px solid #ccc;
    
}
.imageupload:hover{
    transform : scale(1.02);
    transition: all 0.3s;
}