@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400&family=Lobster&family=Prompt:ital,wght@0,600;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body,
button,
input {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Prompt', sans-serif;
}